.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-container{
    width: 50%;
    background-color: bisque;
    padding: 15px;
    border-radius: 15px;
}
.button-div{
    display: flex;
    justify-content: space-around;
}
.heading{
    text-align: center;
}